body{
    padding: 30px;
    color: antiquewhite;
}
h1 {
    color: blue;
    font-size: 50px
    
}
h2 {
    color: cornflowerblue;
}
button{
    width: 100px;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
button:hover{
    width: 120px;
    background-color: rgb(0, 128, 122);   
    font-size: large;
    transition-duration: 0.3s;
    cursor: pointer;
}
table {
    padding: 5px;
    background-color: gray;
    border: 20px black;
}
.desocupado {
    padding: 45px;
    background-color: bisque;
}
.mulher {
    background-color: red
}
.homem {
    background-color:navy
}